## Question 1 - Explain the key features of python that makes it a popular choice of programming .

Ans - Python is a programming language that help us to understand the language of machine. Set of rules and symbols which is used to give command to machine is known as programming language.

# The key features of python that makes it a popular choice of programming are :-

* Vast and continuously growing ecosystem of liabraries , python are more than 137000 liabraries .
* python programming widely used in fronted , backend , data analytics , data science and machine lernings etc.
* python widely used in technical industries.
* python have huge active community.
* used in automation.
* used in image processing
* used in database
* Good performance
* python programming is easy to use.
* easy to learn.
* easy to read and understand.

## Question 2 - Descibe the role of predefined keywords in python and provide examples of how they are used in a program.

Ans - Basically pyhton keywords are help us to create and execute code in a very easy and succefully , we can not use keywords as assignment statement or variables . Keywords help us to define the syntax of the code . The predifined keywords of python are :-

In [2]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

so here we can see , the complete keywords of python , they help to execute and also define the syntax of code.

#### examples of how they are used in program :-

In [3]:
# if we use print keywords :- >> print keywords execute or we can say help us to print anything that we want to write.
# example:-
print("What is your name")

What is your name

In [4]:
print("What is your father's name")

What is your father's name

Types of variables / Identifiers - 
* Integers (int)
* Float    (Float)
* String    (str)
* boolean   (bool)
* complex   (complex)
* None       (None)

In [6]:
# we use type keywords:- >> type keywords help us to know the nature of variable , or we can also say type of variables.
a = 15
type(a)

int

In [7]:
a = "15"
type(a)

str

In [8]:
a = 15.5
type(a)

float

In [9]:
bool(a)

True

In [10]:
a = 0
bool(a)

False

In [13]:
# here we use none keywords >> which define none >> it means nothing will execute or we can say nothing print
a = 15
None

In [15]:
# use of 'and' keywords >> 'and' keywords is a logical operator , it helps to know true or false by taking two operands.
True and False

False

In [16]:
True and True

True

In [17]:
False and True

False

In [18]:
False and False

False

In [19]:
# use of 'or' keywords >> 'or' keywords also helps to know the true or false by taking to operands.
False or True

True

In [20]:
True or True

True

In [21]:
True or False

True

In [22]:
False or False

False

In [24]:
not False

True

In [25]:
not True

False

In [37]:
# use of 'if' , 'else' , 'elif' , 'nested if else' keywords >>
grade = 76
if grade < 33:
    print("Fail")
elif 33<=grade<=60:
    print("Third Division")
elif 61<=grade<=80:
    print("Second Division")
elif 81<=grade<=95:
    print("First Division")
else:
    print("First division with such an execellence")

Second Division

In [1]:
# another keywords which are used in python are :- 'for' and 'while' , ('in' keyword also used here 'in' is a membership operator )

In [2]:
# 'for' keywords
a = "mohsin"
for i in a:
    print(i)

m
o
h
s
i
n

In [3]:
name = ["mohsin" , "abhishek" , "adil" , "sanjeev" , "swati" , "zeba" , "ajay"]
for adil in name:
    print(adil)

mohsin
abhishek
adil
sanjeev
swati
zeba
ajay

In [5]:
# 'while' keywords
a = 15
b = 20
while a <b:
    print(a)
    a = a+1
else:
    print("the code will execute successfully")

15
16
17
18
19
the code will execute successfully

In [6]:
# now here we give an example of identify operator (is) >> this is also a keyword of python
a = 15
b = 15
a is b

True

In [7]:
a = 15
b = 20
a is b

False

#### Notes 1 - Rules of defining a variables :- A variable start with letter (alphabet) or underscore character(_)

In [42]:
# if we write 
name = "mohsin"
name       # it will execute the code

'mohsin'

In [43]:
# but if we write 
1name = "mohsin"
1name           # it will give error , does't execute the code

SyntaxError: invalid decimal literal (985624777.py, line 2)

In [44]:
_name = "mohsin"
_name   # it will execute the code because we use underscore character (_)

'mohsin'

In [45]:
_ = 5
_      # it will execute the code

5

In [48]:
data_science = "pwskills"
data_science

'pwskills'

In [47]:
# If we want to add comment then we can use the (#) symbol and easily add the comment 
# but if we have to use more than one line comment then we can use  ''' this symbol
# example :-

'''
This is mango
This is banana
This is potato
This is tomato 
This is grapes
'''
name = "Mohsin"
name

'Mohsin'

In [49]:
# Input / Output method :- this is used when we have to take variables with anyone else.
# Example :-
name = input("What is your name ")

What is your name  Mohsin

#### Notes 2 - Python is highly sensitive programming language

In [55]:
# example :-
a = 5
A = 50.50
print(type(a))
print(type(A))  ## here small and capital letter are totally  diffrent in python language a != A in python.

<class 'int'>
<class 'float'>

This means 'myVariable', 'myvariable', and 'MYVARIABLE' are all different identifiers in Python.

By the use of 'Markdown' , we can give headlines in pyhton .
By the use of 'Raw' we can also give comment in python , just like i am giving here just now .

So we can see here , there is so many predifined keywords in python  , in which some are explained here by me.

This is the complete understanding of some predifined keywords in python.

## Question 3 - Compare and contrast mutable and immutable objects in python with examples.

#### Mutable Objects

Ans - Mutable object :- The container or object or item which value or state can be changed after the creation of container is known as mutable object
* Mutable objects / support item assignment
example :- List container >> List container always have in [] this bracket.

* List container :- list container is a type of mutable objects , because in list container we can change any variable or value very easily after the creation.

In [1]:
# list container
name = ["Mohsin" , "Swati" , "Zeba" , "Wahid" , "Abhishek" , "Bheema" , "Ajay"] # this is a list container

* now if we want to check the places of varibale 
* we count from left to right (0 , 1 , 2 , 3 , 4 , 5 , 6)
* and if we want to count right to left (-1 , -2 , -3 , -4 , -5 , -6 , -7)
* so this is the way to know the exact places of variables in memory block

In [3]:
#example ;-
name = ["Mohsin" , "Swati" , "Zeba" , "Wahid" , "Abhishek" , "Bheema" , "Ajay"]
name[0] #left to right

'Mohsin'

In [4]:
name[-1] #right to left

'Ajay'

In [5]:
name[5] #left to right

'Bheema'

In [6]:
name[-5] # right to left

'Zeba'

so this is the way to know the exact position of variables in the memory block

In [7]:
# so now we are going to prove that , list container is a mutable object
name = ["Mohsin" , "Swati" , "Zeba" , "Wahid" , "Abhishek" , "Bheema" , "Ajay"]
name[5]

'Bheema'

In [8]:
name[5] = "Shruti"
name

['Mohsin', 'Swati', 'Zeba', 'Wahid', 'Abhishek', 'Shruti', 'Ajay']

In [9]:
# lets try once more
name = ["Mohsin" , "Swati" , "Zeba" , "Wahid" , "Abhishek" , "Bheema" , "Ajay"]
name[-5] = True
name

['Mohsin', 'Swati', True, 'Wahid', 'Abhishek', 'Bheema', 'Ajay']

So here we can see , value or state can be changed after they created of a container is known as mutable objects.
so its proved that list container is a mutable objects.

### Immutable objects

** Immutable objects - The container or objects whose state or value cannot be changed after the created are called immutable objects.
 * immutable objects / doesn't support item assignment
example :- String container

* String container - the container who have all value in a string form is known as string container
* string container indicates by ("") or ('')

In [10]:
# example of string container
name = "Mohsin"
name

'Mohsin'

Now lets try to prove that string container is immutable objects

In [2]:
#example - 
data_analytics = "pwskills"
data_analytics

'pwskills'

In [3]:
#now we try to change the value 
data_analytics[3]

'k'

In [13]:
data_analytics[3] = "m"

TypeError: 'str' object does not support item assignment

In [14]:
data_analytics[-3]

'l'

In [15]:
data_analytics[-3] = "m"

TypeError: 'str' object does not support item assignment

# so here we can see , an error occurs , and the type of error clearly says 'str' objects does not support item assignment , it means we cannot be able to change the value of string container and hence it,s proved that , the string container is a immutable container.

This is the complete understanding of mutable and immutable objects.

## Question 4 - Discuss the diffrent types of operators in python and provides examples of how they are used.

Ans - Special keywords / symbols that are use to perform operations on values or variables are known as operators.
     * when we manupulate the data is known as operations and this process of operations is done by operators.
     
** The diffrent types of operators are :- 
1 - Arithmetic Operators
2 - Comparison Operators
3 - Logical Operators
4 - Assignment Operators
5 - Membership Operators
6 - Identity operators
7 - Bitwise Operators

### Arithmatic Operator

1 - Arithmetic Operators - Basically arithmatic operators are used to do the diffrent types of calculations in python like addition , substraction , division , multiplication etc.

** types of arithmatic operators :-

* addition operator (+)
* substraction operator (-)
* multiplication operator (*)
* division operator (/)
* modulus operator (%)
* floor operator (//)
* exponentiation operator (**)

In [1]:
# addition operator (+) :- This operator is basically used for additng the values in python.
# example :-
a = 15
b = 20 
a + b # This is the addition operator

35

In [2]:
a = 1058
b = 25675
a + b  # this is the addition operator

26733

In [3]:
# substraction operator (-) :- This operator is basically used for substracting the values in python.
# example :-
a = 15
b = 20 
a - b # so here this is substracting operator

-5

In [4]:
a = 1058
b = 25675
b - a     # this is substracting operaator

24617

In [5]:
# multiplication operator (*) :- This operator is basically used to multiply the values in python. 
# example :-
a = 65
b = 25
a * b   # This is multiplication operator

1625

In [6]:
a = 25862
b = 145921
a * b       # by the use of this operator we can multiply any big or small values

3773808902

In [7]:
a = 52
b = 654
c = 15
a * b * c # this is the multiplication operator in python.

510120

In [8]:
# division operator (/) :-  This operator is basically used for divide the values in python.
# example :-
a = 58
b = 69
a / b    # this is the division operator

0.8405797101449275

In [9]:
a = 25
b = 5
a / b

5.0

In [10]:
a = 25
b = 15
c = 10
a / b / c

0.16666666666666669

In [11]:
# modulus operator :-  This operator is basically used for getting the remainder , when we divide the values in python.
# example :-
a = 50
b = 2
a % b # this is the module operator , so here we can see the division is succssefull and there is no remainder left thats why we get zero.

0

In [12]:
a = 51
b = 11
a % b # so here we can see the division gives remainder 7 , that is the use of modulud operator

7

In [1]:
a = 1586
b = 152
a % b

66

In [2]:
# floor operator (//) :-  This operator is basically used for getting the nearest value of quotient , when quotient is in decimal form.
# example:-
a = 157
b = 12
a // b # this is the floor operator , which gives the nearest value before decimal point.

13

In [3]:
a = 157
b = 175
a // b # here we can see the floor value is zero ,because the quatient of 157 and 175 is 0.897 ,so the nearest value before decimal is zero.

0

In [5]:
a = 21
b = 6
a // b

3

In [6]:
# exponentiation operator (**) :-  This operator is basically used for getting the power of any value , like 2 to the power 4 = 16.
#example :-
2 ** 3  # this is the exponentiation operator

8

In [7]:
2 ** 100

1267650600228229401496703205376

### Comparison Operator

2 - Comparision operator :- This operator is basically used for the comparision between two variables or value and in return we get boolean value.

** types of comparison operator :-

* Equals to (==)
* not equals to (!=)
* greater than (>)
* smaller than (<)
* greater than or equals to (>=)
* smaller than or equals to (<=)

In [8]:
# equals to (==) :- This operator is used when we have to show two variables or value are equal.
# example :-
a = 15
b = 15
a == b # this is the 'equals to' operator , and we can see after execution we get boolean value.

True

here we get true because the condition is correct , and we get result in boolean value.

In [9]:
a = 15
b = 19
a == b

False

here we get false because the condition is not correct ( 15 is not equals toi 19 ) , and we get result in boolean value.

In [10]:
# not equals to (!=) :- this operator is used when we compare values and the values are not equals to each other .
# example :-
a = 50
b = 15
a != b # this is the 'not equals to' operator

True

here we get true because the condition according to 'not equals to operator' is correct , and we get result in boolean value.

In [11]:
a = 15
b = 15
a != b   # this is the 'not equals to' operator

False

here we get false because the condition according to 'not equals to operator' is not correct , and we get result in boolean value.

In [13]:
a = 1000
b = 100
a != b    # this is the 'not equals to' operator

True

here we get true because the condition according to 'not equals to operator' is correct , and we get result in boolean value.

In [14]:
# greater than (>) :- this operator is used when we have to compare any two value , and want to know which value is greater.
# example :- 
a = 50
b = 42
a > b   # this is the 'greater than' operator

True

and here we get true because the condition according to 'greater than' operator is correct , and we get result in boolean value.

In [15]:
a = 85
b = 100
a > b    # this is the 'greater than' operator

False

and here we get false because the condition according to 'greater than' operator is not correct , and we get result in boolean value.

In [16]:
# smaller than (<) :- this operator is used when we have to compare any two value , and want to know which value is smaller.
# example :- 
a = 55
b = 65
a < b

True

and here we get true because the condition according to 'smaller than' operator is correct , and we get result in boolean value.

In [17]:
a = 100
b = 25
a < b

False

and here we get false because the condition according to 'smaller than' operator is not correct , and we get result in boolean value.

In [18]:
# greater than or equals to (>=) :- this operator is used when we have to compare any two value , and want to know the value is greater or equals to.
# example :-
a = 55
b = 58
a >= b # this is the 'greater than or equals to' operator

False

and here we get false because the condition according to 'greater than or equals to' operator is not correct , and we get result in boolean value. in this statement both the condition greater than or equaks to is not correct.

In [19]:
a = 65
b = 45
a >= b

True

and here we get true because the condition according to 'greater than or equals to' operator is correct , because here in 'greater than or equals to' oprtaor  have two conditions :-
first condition is :- 'a' is greater than 'b' or 
second condition is :- 'a' equals to 'b' 
so (a = 65 and b = 45) , according to  first condition this statement is correct , that's why we got result true in boolean value.

In [20]:
a = 50
b = 50
a >= b

True

here the condition is true because it follow the 'greater than equals to' operator .

In [21]:
# smaller than or equals to (<=) :- this operator is used when we have to compare any two value , and want to know the value is smaller or equals to.
# example :-
a = 55
b = 58
a <= b # this is the 'smaller than or equals to'

True

we get true because this statement follow the 'smaller than or equals to' operator.because 'a' is smaller than 'b' .

In [22]:
a = 100
b = 10
a <= b

False

we get false because this statement is not correct for  the 'smaller than or equals to' operator , because 'a' is not smaller than 'b' niether equals to 'b'.

In [23]:
a = 20
b = 20
a <= b

True

we get true because this statement is correct for the 'smaller than or equals to' operator, because 'a' is not smaller than 'b' , but 'a' is equals to 'b' , thats why this condition is correct.

### Logical Operator

3 - Logical operator :- This operator is basically used to combine multiple conditions together and evalute in a single boolean.

** type of logical operator :-

* and
* or
* not

# 'and' opertor :- this operator takes two operands and return true if only both operands are true.
example :-

True and True = True
True and False = False
False and True = False
False and False = False

In [2]:
True and False

False

In [3]:
True and True

True

In [4]:
False and True

False

In [5]:
False and False

False

# 'or' operator :- this operator takes two operands and return true if any one operand is true , if both operands is false then only 'or' operator gives false.

example :-

True or True = True
True or False = True
False or True = True
False or False = False

In [6]:
# examples:-
True or True

True

In [7]:
False or True

True

In [8]:
True or False

True

In [9]:
False or False

False

so here we can see when both the operands are false then only 'or' operators gives false.

### Notes - The value of True and False in python are :-
###          True = 1
###          False = 0

In [12]:
# 'not' operator :- This operator is basically used when we give opposite command of any boolean value.
# example :-

not True

False

In [13]:
not False

True

so this is the whole idea about logical operator.

### Assignment Operator

4 - Assignment Operator :- This operator is used to assign the variables by the help of memory space .

** type of assignment operator:-

* assignment (=)
* addition assignment (+=)
* substraction assignment (-=)
* multiplication assignment (*=)
* division assignment (/=)

In [14]:
# assignment operator (=) :- this operator is used whwn we have to assign any varibles by any memory space.

# example :-

a = 50  # assignment operator(=)
a

50

so here 'a' is memory space name which assign the value of 50 , ans this process is known as assignment

* addition assignment operator (+=) :- this operator is used when we have to give command to add any same type of variables with the assign varibales and reassign the  same variable with the same memory space.

In [16]:
# example :-
a = 50 # this is assignment operator
a +=20 # this is addition assignment operator
a

70

In [17]:
a = 100
a += 50
a

150

here we can see we first give instruction to add something with the variable and reassign to the same memory space is called addition assignment operator.

* substraction assignment operator (-=) :- this operator is used when we have to give command to substract any same type of variables with the assign varibales and reassign the  same variable with the same memory space.

In [18]:
#example :-

a = 50  # This is assignment operator.
a -= 10  # this is substraction assignment operator.
a

40

In [19]:
a = 100
a -= 25
a

75

* Multiplication assignment operator (*=) :- this operator is used when we have to give command to multiply any same type of variables with the assign varibales and reassign the  same variable with the same memory space.

In [21]:
# example :- 

a = 5     # this is assignment operator
a *= 10   # this is multiplication assignment operator
a

50

In [22]:
a = 100
a *= 50
a

5000

* Division assignment operator (/=) :- this operator is used when we have to give command to divide any same type of variables with the assign varibales and reassign the  same variable with the same memory space.

In [25]:
# example :-

a = 50  # this is assignment operator
a /= 2  # this is division assignment operator
a

25.0

#### Notes :- we can also make more assignment operators like :-

#### Module assignment operator (%=)
#### floor assignment operator (//=)

In [26]:
# module assignment operator (%=) :-
#example :-

a = 65 # this is assignment operator
a %= 3  # this is module assignment operator
a

2

In [7]:
# floor assignment operator (//=) :-
#example :-

a = 65   # this is assignment operator
a //= 3  # this is floor assignment operator
a

21

so with the help of assignment operator  we can create so many diffrent types of assignment operator.

## this is the complete understanding of assignment operator.

### Membership Operator

5 - Membership Operator :- This operator is basically use to check weahther a given value is a member of a sequence or not a member of a sequence such as strings , List and tuples.

** type of membership operator :-
* in
* not in

In [3]:
# 'in' operator :- this operator is used to check the variables are in the squence .

# example :-

a = "mohsin"
a

'mohsin'

In [4]:
"s" in a

True

In [5]:
"h" in a

True

In [6]:
"k" in a

False

so here we can see the variable is in the sequence , then after execution we get true , but if the variables is not in the sequence and if  we check with 'in' operator  then we get false.

In [2]:
# 'not in' operator :- this operator is used to check the variables not in the sequence .

In [7]:
a = "mohsin"
a

'mohsin'

In [8]:
"i" not in a

False

In [9]:
"m" not in a

False

In [10]:
"k" not in a

True

In [11]:
"l" not in a

True

so here we can see if we use 'not in' membership operator then if the variables is in the sequence the we get false , and when the variables is not in the sequence then we get true.

### Identity Operator

6 - Identity Operator :- This operator is used to check  and compare the two variables refers to the same objects in the memory.

** type of identity operator :-
* is
* is not

In [12]:
# 'is' identity operator :- by the help of this operator we know the variables are refers to the same objects in memory.

# example:-

a = 50
b = 16
a is b # this is the identity operator

False

here we get false because the variable refers to diffrent objects and also with diffrent memory.

In [13]:
a = 50
a = 16
a is b # this is the identity operator

True

here we get true , while the variable refers to diffrent objects , but the memory space is same thats why we get true

In [15]:
a = 50
b = 50
a is b

True

here we get true , while memory space is diffrent , but the variables refers to the same objects.

In [16]:
a = 36
b = -36
a is b

False

In [17]:
# 'is not' operator :- this operator helps to check the variables does't refers to the objects with the same memory

# example :-
a = 50
b = 16
a is not b

True

here we get true because variable does,t refers to the same objects in the memory.

In [18]:
a = 50
b = 50
a is not b

False

here we get false because variable are refers to the same objects in the memory. and 'is not' operator is only use to check and compare for those variable who are not in the same objects of memory.

### Bitwise operator

7 - Bitwise operator :- Bitwise operator are used to calculate on integers . Machine only understands binary language (1 , 0) , so here bitwise operator helps to change every integers in the binay form and then do calculation on that binary numbers.

>>>> in bitwise operator , firstly every integer converts automatically in binary language and the , calculation to be done by the diffrent types of bitwise operator is in binary , so if we give any two integer and try to check with any bitwise operator , then first they both integers converts in binary language in backend and answer also comes in fronted is in normal integer but the actual value will be is in binary form .

** types of bitwise operator are :-

* and bitwise operator (&)
* or bitwise operator (|)
* negation bitwise operator (~ - tilde)
* Xor bitwise operator  (^ - hat or cap)
* left shift bitwise operator (<<)
* right shift bitwise operator (>>)

# 'and' bitwise operator follow thus rule :- 

True and True = True
True and False = False
False and True = False
False and False = False

where True = 1
     False = 0

In [19]:
# and bitwise operator (&) :- 

a = 15
b = 60
a & b

12

so here we get 'and' bitwise operator of a & b is 12 , lets prove that how we get this 12

In [22]:
bin(a) # this is the binary value of a

'0b1111'

In [23]:
bin(b) # this is the binary value of b

'0b111100'

In [25]:
bin(a&b) # here is the binary value of a & b

'0b1100'

here we get bin(a&b)= 1100 , now lets check the bin(12)

In [26]:
bin(12)

'0b1100'

now here we can see in binary form the calculation of a and b is equals to the binary form of 12. if we check the bin(a&b = 1100) and if we check the bin(12) = 1100 , so here we can see that the answer of both are same , hence proved. 
so for machine 12 = 1100.

In [28]:
a = 15
b = 18
bin(a&b) # 'and' bitwise operator

'0b10'

In [29]:
# 'or' bitwise operator (|) :- 

# example :-
a = 50
b = 60
a|b

62

so we can see here the value of a|b is 62 , noe lets check it by converting in binary ,  this 62 value comes because in backend the calculation are done in binary language , now we check it in fronted.

In [30]:
bin(a)

'0b110010'

In [31]:
bin(b)

'0b111100'

In [33]:
bin(62)

'0b111110'

In [32]:
bin(a|b)

'0b111110'

so now we can see the bin(62) = 111110 and the bin(a|b) = 111110
both the value are same .

bitwise or follow this rule :-

True or True = True
True or False = True
False or True = True
False or False = False

In [34]:
# negation bitwise operator (~) :-

# example:-

a = 15
~a        # this is the negation bitwise operator

-16

In [35]:
a = -15
~a    # this is the negation bitwise operator

14

In [36]:
~100

-101

In [37]:
~-100

99

In [38]:
# Xor bitwise operator (^) :- 

# example :-

a = 15
b = 20
a ^ b  # This is the Xor bitwise operator

27

lets check by using binary language

In [40]:
bin(a)

'0b1111'

In [41]:
bin(b)

'0b10100'

In [43]:
bin(27)

'0b11011'

In [42]:
bin(a^b)

'0b11011'

so here we can see the bin(27) = 11011 and the bin(a^b) = 11011 , both values are same.

Xor(^) follow this rule :-

True(1) Xor True(1) = False(0)
False(0) Xor True(1) = True(1)
True(1) Xor False(0) = True(1)
False(0) Xor False(0) = False(0)

In [44]:
bin(50^80)

'0b1100010'

# left shift bitwise operator (<<) :-  This operator means to shift or we can say increase the zero  in right side , by following the specific code which is given by the coder.

basically left shift bitwise operator increase the number of zeros in the right side . the number of zeroes is given by the coder.

In [47]:
# example

a = 100
bin(a)  # so here we can see the binary value of 100

'0b1100100'

In [48]:
# now we use left shift bitwise operator
a<<2  # here the specific code is 2 , it means shift by two zero.

400

In [49]:
bin(400)

'0b110010000'

# so here we can see the binary value of 100 = 1100100 and the left shift of 100 is 400 and the binary value of 400 = 110010000
hence we can see the 2 zero increases in the right side .

In [50]:
bin(50)

'0b110010'

In [55]:
50<<5

1600

In [56]:
bin(1600)

'0b11001000000'

so here we can see after the use of left shift operator the number of zeroes increases in right side by the 5 number. and it will converted to bin(1600) .

In [57]:
# right shift bitwise operator (>>) :- this operator increase simply remove the value from the right side 
                                      # the number which we give only that amount of value will be remove by right side.

#example :-

a = 50
bin(a)

'0b110010'

In [58]:
50 >> 2

12

In [59]:
bin(12)

'0b1100'

so here we can see the bin(50) = 110010 , but when we use 50>>2 then its value is 12 , and the bin(12) = 1100 
hence we can easily seen here the last two number are removed when we use right shift bitwise operator of 2.

In [60]:
# another example :-
a = 100
bin(a)

'0b1100100'

In [61]:
100 >> 5

3

In [62]:
bin(3)

'0b11'

here we can see the use of right shift bitwise operator , when we give 100>>5 it becomes 3 , and the bin(3) = 11
therefore from bin(100) = 1100100  , last 5 digit are removed and it becomes bin(3) = 11 because we use the right shift bitwise operator of 5.

This is the complete Understanding of Operatos.

## Queation 5 - Explain the concept of type casting in python with examples.

Ans - Type casting - type casting is basically used to know the type of variables and alse  used to change the type of varibles.
The process of changing the data type of value / objects.

There are two types of type casting are :-

1 - Implicit Type casting
2 - Explicit Type casting

First we have to know the type of variables or identifiers on which type casting works are :-

Types of variables / Identifiers - 
* Integers (int)
* Float    (Float)
* String    (str)
* boolean   (bool)
* complex   (complex)
* None       (None)

In [1]:
# example :-
a = "Mohsin"
type(a)

str

In [2]:
a = 14
type(a)

int

In [3]:
a = 14.5
type(a)

float

In [4]:
a = True
type(a)

bool

In [5]:
a = None
type(a)

NoneType

In [7]:
a = 5 + 6j
type(a)

complex

Now if we want to change the type of value/objects .

In [8]:
a = "5"
type(a)

str

In [ ]:
# if we try to convert strings into integer

In [9]:
int(a)

5

In [11]:
type(5)

int

In [12]:
# we can also wite in this form :-
a = "5"
type(int("5")) # here this is the code which convert srting into integer

int

In [13]:
a = "50"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [ ]:
# Now if we try to convert a strings into float

In [14]:
a = "50"
print(type(a))
print(type(float(a)))

<class 'str'>
<class 'float'>

In [15]:
float(50)

50.0

In [16]:
type(50.0)

float

In [ ]:
# if we try to convert strings into boolean

In [17]:
a = "50"
bool("50")

True

In [18]:
a = "50"
print(type(a))
print(type(bool(a)))

<class 'str'>
<class 'bool'>

In [19]:
# if we try to convert integer into strings

In [20]:
a = 50
str(a)

'50'

In [22]:
type('50')

str

In [23]:
a = 50
print(type(a))
print(type(str(a)))

<class 'int'>
<class 'str'>

In [24]:
# now if we try to convert float into string :-
a = 14.5
str(a)

'14.5'

In [25]:
print(type(a))
print(type(str(a)))

<class 'float'>
<class 'str'>

In [ ]:
# now if we try to convert boolean to strings

In [26]:
a = True
type(a)

bool

In [27]:
str(a)

'True'

In [29]:
print(type(a))
print(type(str(a)))

<class 'bool'>
<class 'str'>

In [30]:
# now if we try to convert integer into float
a = 15
float(a)

15.0

In [32]:
print(type(a))
print(type(float(a)))

<class 'int'>
<class 'float'>

In [33]:
# now if we try to covert float into integer 
a = 55.45
int(a)  # here when we convert float into integer , only decimal value will be removed and its automatically convert into integers.

55

In [34]:
print(type(a))
print(type(int(a)))

<class 'float'>
<class 'int'>

In [35]:
# if we check the boolean value 
bool(1)

True

In [36]:
bool(0)

False

In [37]:
bool(100)

True

In [38]:
bool(-100)

True

In [39]:
bool("mohsin")

True

In [40]:
bool("")

False

In [41]:
bool()

False

so here we can see boolean value will be False only when its  objects value will be zero or a blank string or blank bracket, otherwise in every situation boolean value always gives True .

### Types of type casting

There are two types of type casting are :-

1 - Implicit Type casting
2 - Explicit Type casting

In [50]:
# Implicit type casting :- Basically implicit type casting means automatically performed by the Python interpreter.
                          # it means in  implicit type casting pyhton automatically know the nature/types of variables.
                          # Pyhton understands itself.

In [51]:
a = "mohsin"
type(a)    # this is the example of implicit type casting

str

In [52]:
a = 50.52
type(a)

float

In [53]:
a = 42
type(a)

int

In [56]:
a = 4+ 5j
type(a)

complex

In [57]:
a = None
type(a)

NoneType

In [58]:
a = True
type(a)

bool

we don't have to do anything here , we just check the type of variables and python will tell automatically the type of variables. This is known as Implicit type casting .

In [59]:
# Explicit Type casting :- in explicit type casting we change the data type using inbuilt functionand .
                           # when we change the nature of any data or variables then it is known as explicit type casting.

In [61]:
# strings into integers
a = "950"
print(int(a)) # so here we change the type of varible from string to integer
print(type(a))    # here we check without any change in type of variable
print(type(int(a))) # here we check after when we change the type of variable

950
<class 'str'>
<class 'int'>

This is the example of explicit type casting .

In [62]:
# float into integers
a = 95.25
print(type(a))  # here we check without any changes , this is the example of implicit type casting.
print(int(a))    # here we give command to change the type of variables , this is the example of Explicit type casting.
print(type(int(a))) # here we again chech the type of variable after the change.

<class 'float'>
95
<class 'int'>

In [63]:
# integer into float
a = 50
float(a)

50.0

In [76]:
# strings into integer
a = "100"
print(int(a))
print(type(a))
print(type(int(a)))

100
<class 'str'>
<class 'int'>

here we can see strings easily converted to the integers because , in the format of string ("") there is an integer identifiers which is only writen in the format of string , thats why it will converted into the integers.

In [77]:
# strings to float
a = "15"
print(type(a))
print(float(a))
print(type(float(a)))

<class 'str'>
15.0
<class 'float'>

In [78]:
a = "15.28"
float(a)

15.28

here we can see strings easily converted to the float because , in the format of string ("") there is an integer identifiers which is only writen in the format of string , thats why it will converted into the float.

In [72]:
# strings into integer
a = "Mohsin"
int(a) # here we get an error because here the value of a is in string form and also in the string form there is string value in doble cot.

ValueError: invalid literal for int() with base 10: 'Mohsin'

here we get an error because here the value of a is in string form and also in the string form there is string value in doble cot.
so a proper string never change in any other identifiers . here in string format the value is also a string that why it will not change into integer.

In [73]:
a = mohsin
b = 5
a + b

NameError: name 'mohsin' is not defined

here we again get an error because , mohsin is not defined , and in python undefined identifiers means nothing and will give error always.

In [64]:
# now if we want to add float and integers or integers and float
a = 50.25
b = 14
a + b

64.25

In [65]:
# if we add integers and strings
a = "5"
b = 10
a + b

TypeError: can only concatenate str (not "int") to str

In [68]:
a = "Mohsin"
b = 5
a + b

TypeError: can only concatenate str (not "int") to str

so here we can see an error accur , because string cannot be added with any other type of variables , string only can be added with string variables.
# here we can see an error occurs that is concatenate str error

##### Concatenate

# what is concatenate ?
ans - the adding of string variables to the string variable is known as concatenate.

and when we add string to any other type of identifiers then an error occurs and that errror is known as concatenate error.

lets try concatenate:-

In [66]:
a = "Mohsin "
b = "Khan"
a + b

'Mohsin Khan'

In [67]:
a = "Mohsin"
b = "5"  # here we can see integer also add with strings because this integer is in double cot ("") , behaves like a strings
a + b

'Mohsin5'

##### Notes -  anything in double cot ("") or single cot ('') are behave like string identifiers.

In [71]:
a = "100"
b = " Mohsin"
a + b

'100 Mohsin'

This is the complete understanding of type casting.

## Question 6 - How do conditional statements work in python ? Illustrate with examples .

Ans - Conditionals Statment :-  Conditional statemnts are basically helps only when there is any type of conditions occur.
                                 like , if the weather is Sunny , then i will go to play .

** - Types of conditional statements are :-
* if
* if else
* if elif else
* nested if else

'if' statement is a type of conditional situation statement. in real life we always do anything with some conditions like :-
 i will not go to play cricket , if the weather is rainy . this is a example of 'if' condition.
* 'if' only execute true situation , if we give any false situation in 'if' statement it will not execute the code.

In [4]:
# now lets discuss 'if' statement with some examples :-
a = 50
b = 25
if a > b :
    print("The condition which is given on variable is correct")

The condition which is given on variable is correct

In [8]:
a = 50
b = 25
if a > b :
    print(a)

50

In [13]:
# lets try with other example
# if weather is sunny , then i will go to play.
weather = "Sunny"  # this is the assignment statement
if weather == "Sunny" : # this is he condition
    print("I will  go to play")

I will  go to play

In [14]:
a = 50       # this is the assignment statement
if a < 60 :  # this is the 'if' conditional statement
    print("a is lesser")

a is lesser

In [15]:
a = 10
if a > 5 :
    print("a is greater")

a is greater

# so here we can see the 'if' condition , it will work when the condition is true

# now lets see what happen if we  try with false condition :-

In [16]:
a = 50
if a < 20 :
    print("a is lesser")

so here we can easily see that the code is not executed , because the condition of code is false , and we know 'if' condition never work in the false situation.

In [17]:
# lets try with one more example :-
weather = "Sunny"
if weather == "Rainy":
    print("i will not go to play")

so here code doesn't execute , because we assign diffrent variable and comparision diffrent variable (false)
now here code will not execute because the situation is not correct.

In [19]:
a = 50
if a > 20
print("a is greater than 20") # here indentation is missing , thats why we get error.

SyntaxError: expected ':' (3439270246.py, line 2)

In [10]:
a = 50
if a % 2 == 0:
    print("a is a even number")

a is a even number

In [12]:
a = 51
if a % 2 == 1:
    print("a is a odd number")

a is a odd number

In [13]:
grade = 33
if grade >= 33:
    print("Student will pass")

Student will pass

In [2]:
grade = 80
if grade >= 80 :
    print("Excellent")

Excellent

In [5]:
grade = 95
if grade >=90:
    print("Outstanding")

Outstanding

In [16]:
grade = 33
if grade < 33:
    print("Student will fail") # here we can see the code will not be executed because , condition is false

In [18]:
grade = 33
if grade <= 33:
    print("Student will fail")

Student will fail

In [19]:
data_analyst = True
if data_analyst:
    print("Studying in the data analyst course")

Studying in the data analyst course

In [20]:
data_analyst = False
if data_analyst:
    print("Studying in the data analyst course")

# so here we can see the code will not execute because the statement is false

In [21]:
data_analyst = 1
if data_analyst:
    print("Studying in the class")

Studying in the class

In [22]:
data_analyst = 0
if data_analyst:
    print("Studying in the class")

here code will not execute because in python '0' means false , and we not in python with 'if' condition false statement will not excute.

# so here we can also see code will not executed again , becuase the statement is false .
so now we can totally understand 'if' condition .
if we use normally 'print' keyword then we can easily print anything we want , but when we use 'print' keywords with 'if' condition , then only true condition will execute , false condition does not execute .

In [7]:
# multiple conditions with 'if' statement :- in real life decisions are based on multiple conditions.
a = 8
if (a % 2 == 0) and (a > 0):
    print("a is even number with positive sign")

a is even number with positive sign

In [8]:
grade = 65
co_curr = 8
if (grade >= 60) and (co_curr > 7):
    print("Average Student")

Average Student

'if' statement would not be execute the code in this situation are :-
* When assign variable is diffrent and we compare with diffrent variables
* when 'if' condition is not correct.
* when the statement is false .
* when the statement is eqauls to '0' , because in python '0' is equals to false.
* when the indentation syntax (:) is missing .
* when 'if' condition does not difining assignment statement  properly .

so this is all about 'if' condition .

### if else condition

In [2]:
# if else condition :- in real life if one condition is not fulfill , then we will do anything else .
    # example :- if weather is not rainy , i will go to play cricket else i will watch T.V.
# let's see some examples :-

In [3]:
weather = "Summer"         # assignment statement
if weather == "Summer":    # here this condition is true thats why 'if' statment will execute.
    print("I will go to play criket")
else:
    print("I will watch T.V")

I will go to play criket

In [4]:
weather = "Summer"        # assignment statement
if weather == "Rainy":    # here we can see that the condition is false , thats why 'if' statement is not executed.
    print("I will go to play criket")
else:
    print("I will watch T.V")  # the condition is false thats why else statemnt will executed .

I will watch T.V

if else statement :- so here we can see where 'if' block will not execute because the condition is false , then else block will be excuted . 
else statement -: it is used to execute both of the true part and the false part of a given condition.

In [5]:
a = 52
if a < 20 :
    print("a is leeser")
else:
    print("a is greater")

a is greater

it means where if block will not able to execute then at those time else block will execute the code.

In [6]:
a = 50
b = 100
if a >= b:
    print("a is greater or eqauls to b")
else:
    print("b is greater or equals to a")

b is greater or equals to a

In [7]:
grade = 85
if grade >= 85:
    print("Excellent") # so here the condition is true thats why if block will execyte.
else:
    print("Average")

Excellent

In [8]:
grade = 75
if grade >= 85:
    print("Excellent")
else:
    print("Average") # here the condition does not match the assignment statemnt , thats why here else block will executed.

Average

In [9]:
# lets try with some diffrent examples :- 
data_analyst = True
if data_analyst:
    print("Good course") # so here the condition is true , thats why 'if' block executed.
else:
    print("Average course")

Good course

In [10]:
data_analyst = False
if data_analyst:
    print("Good course")
else:
    print("Average course") #so here the condition is false , thats why 'else' block executed.

Average course

In [12]:
a = 50
b = 85
if a == b:
    print("equals to")
else:
    print("Not equals to")

Not equals to

In [13]:
driving_licence_age = 21
if driving_licence_age >= 21:
    print("Eligible for the driving licence")
else:
    print("Not eligible for the driving licence")

Eligible for the driving licence

In [14]:
driving_licence_age = 18
if driving_licence_age >= 21:
    print("Eligible for the driving licence")
else:
    print("Not eligible for the driving licence")

Not eligible for the driving licence

In [16]:
serving_alcohol_age = 21
if serving_alcohol_age >= 21:
    print("Serve the alcohol")
else:
    print("Under age")

Serve the alcohol

In [17]:
serving_alcohol_age = 20
if serving_alcohol_age >= 21:
    print("Serve the alcohol")
else:
    print("Under age")

Under age

In [18]:
# lets try with some diffrent examples :-
# lets find the odd and even value :-
a = 50
if a % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Even number

In [19]:
a = 53
if a % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [20]:
a = 5
if a % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [21]:
a = 8
if a % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Even number

In [22]:
a = 16
if (a % 2 == 0) and (a >= 0):
    print("a is even number with positive sign")
else:
    print("a is odd number with negative sign")

a is even number with positive sign

In [24]:
a = -15
if (a % 2 == 0) and (a >= 0):
    print("a is even number with positive sign")
else:
    print("a is odd number with negative sign")

a is odd number with negative sign

### if else have two conditions :- just like in real life we have so many conditions.

# if else condition are :-
* if elif else 
* Nested if else

### if_elif_else

In [25]:
# 'if elif else' conditon :- when there is so many  conditions.
# if >> some conditions
# elif >> some conditions
# else

In [27]:
# lets try with some exmples are :-
grade = 80
if grade < 33:
    print("Student Fail")
elif 33 <= grade <= 50 :
    print("Student Just pass with third division")
elif 51 <= grade <= 70 :
    print("Student pass with second division")
elif 71 <= grade <= 90 :
    print("Student pass  with first division")
else:
    print("Student pass with first division with an execellecy")

Student pass  with first division

In [28]:
# if student got 25 percent :-
grade = 25
if grade < 33:
    print("Student Fail")
elif 33 <= grade <= 50 :
    print("Student Just pass with third division")
elif 51 <= grade <= 70 :
    print("Student pass with second division")
elif 71 <= grade <= 90 :
    print("Student pass  with first division")
else:
    print("Student pass with first division with an execellecy")

Student Fail

In [29]:
# if student got 93 percentage :-
grade = 93
if grade < 33:
    print("Student Fail")
elif 33 <= grade <= 50 :
    print("Student Just pass with third division")
elif 51 <= grade <= 70 :
    print("Student pass with second division")
elif 71 <= grade <= 90 :
    print("Student pass  with first division")
else:
    print("Student pass with first division with an execellecy")

Student pass with first division with an execellecy

In [30]:
# if student got 56 percentage :-
grade = 56
if grade < 33:
    print("Student Fail")
elif 33 <= grade <= 50 :
    print("Student Just pass with third division")
elif 51 <= grade <= 70 :
    print("Student pass with second division")
elif 71 <= grade <= 90 :
    print("Student pass  with first division")
else:
    print("Student pass with first division with an execellecy")

Student pass with second division

In [31]:
# lets try 'if elif else' with some diffrent examples :-
a = 100
if a > 1000:
    print("Greater")
elif a < 1000:
    print("smaller")
else:
    print("equals to")

smaller

In [32]:
a = 2000
if a > 1000:
    print("Greater")
elif a < 1000:
    print("smaller")
else:
    print("equals to")

Greater

In [33]:
# lets try 'if elif else' with some diffrent examples :-
# a bar give entry only the age is greater or equals to 21 and give some special discount to the age between 30 to 45 ,
# and will give 80% discount to the age between 45 to 55 years. this is the situation lets make a code to execute this situation.

In [39]:
Entry_age = 20
if (Entry_age <= 20):
    print("Underage , does not give entry in the bar")
elif Entry_age >= 21:
    print("Welcome in the bar without any discount")
elif 30 <= Entry_age <= 45 :
    print("Welcome in the bar with the complimentry dinner discount")
elif (Entry_age >= 45) and (Entry_age <= 55):
    print("Welcome to the bar with the special discount of 80% ")
else:
    print("Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner")

Underage , does not give entry in the bar

In [51]:
Entry_age = 21
if (Entry_age <= 20):
    print("Underage , does not give entry in the bar")
elif 21 <= Entry_age <= 30:
    print("Welcome in the bar without any discount")
elif 30 < Entry_age <= 45 :
    print("Welcome in the bar with the complimentry dinner discount")
elif (Entry_age >= 46) and (Entry_age <= 55):
    print("Welcome to the bar with the special discount of 80% ")
else:
    print("Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner")

Welcome in the bar without any discount

In [40]:
Entry_age = 26
if (Entry_age <= 20):
    print("Underage , does not give entry in the bar")
elif Entry_age >= 21:
    print("Welcome in the bar without any discount")
elif 30 <= Entry_age <= 45 :
    print("Welcome in the bar with the complimentry dinner discount")
elif (Entry_age >= 45) and (Entry_age <= 55):
    print("Welcome to the bar with the special discount of 80% ")
else:
    print("Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner")

Welcome in the bar without any discount

In [44]:
Entry_age = 44
if (Entry_age <= 20):
    print("Underage , does not give entry in the bar")
elif 21 <= Entry_age <= 30:
    print("Welcome in the bar without any discount")
elif 30 < Entry_age <= 45 :
    print("Welcome in the bar with the complimentry dinner discount")
elif (Entry_age >= 46) and (Entry_age <= 55):
    print("Welcome to the bar with the special discount of 80% ")
else:
    print("Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner")

Welcome in the bar with the complimentry dinner discount

In [45]:
Entry_age = 30
if (Entry_age <= 20):
    print("Underage , does not give entry in the bar")
elif 21 <= Entry_age <= 30:
    print("Welcome in the bar without any discount")
elif 30 < Entry_age <= 45 :
    print("Welcome in the bar with the complimentry dinner discount")
elif (Entry_age >= 46) and (Entry_age <= 55):
    print("Welcome to the bar with the special discount of 80% ")
else:
    print("Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner")

Welcome in the bar without any discount

In [46]:
Entry_age = 31
if (Entry_age <= 20):
    print("Underage , does not give entry in the bar")
elif 21 <= Entry_age <= 30:
    print("Welcome in the bar without any discount")
elif 30 < Entry_age <= 45 :
    print("Welcome in the bar with the complimentry dinner discount")
elif (Entry_age >= 46) and (Entry_age <= 55):
    print("Welcome to the bar with the special discount of 80% ")
else:
    print("Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner")

Welcome in the bar with the complimentry dinner discount

In [47]:
Entry_age = 46
if (Entry_age <= 20):
    print("Underage , does not give entry in the bar")
elif 21 <= Entry_age <= 30:
    print("Welcome in the bar without any discount")
elif 30 < Entry_age <= 45 :
    print("Welcome in the bar with the complimentry dinner discount")
elif (Entry_age >= 46) and (Entry_age <= 55):
    print("Welcome to the bar with the special discount of 80% ")
else:
    print("Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner")

Welcome to the bar with the special discount of 80%

In [48]:
Entry_age = 55
if (Entry_age <= 20):
    print("Underage , does not give entry in the bar")
elif 21 <= Entry_age <= 30:
    print("Welcome in the bar without any discount")
elif 30 < Entry_age <= 45 :
    print("Welcome in the bar with the complimentry dinner discount")
elif (Entry_age >= 46) and (Entry_age <= 55):
    print("Welcome to the bar with the special discount of 80% ")
else:
    print("Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner")

Welcome to the bar with the special discount of 80%

In [49]:
Entry_age = 56
if (Entry_age <= 20):
    print("Underage , does not give entry in the bar")
elif 21 <= Entry_age <= 30:
    print("Welcome in the bar without any discount")
elif 30 < Entry_age <= 45 :
    print("Welcome in the bar with the complimentry dinner discount")
elif (Entry_age >= 46) and (Entry_age <= 55):
    print("Welcome to the bar with the special discount of 80% ")
else:
    print("Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner")

Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner

In [50]:
Entry_age = 65
if (Entry_age <= 20):
    print("Underage , does not give entry in the bar")
elif 21 <= Entry_age <= 30:
    print("Welcome in the bar without any discount")
elif 30 < Entry_age <= 45 :
    print("Welcome in the bar with the complimentry dinner discount")
elif (Entry_age >= 46) and (Entry_age <= 55):
    print("Welcome to the bar with the special discount of 80% ")
else:
    print("Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner")

Welcome to the bar with speacial condition , to give  only 2 peg with complimentry dinner

so this is the complete code for that resturant .

## so here we can see by the use of 'elif' block we can make codes on so many conditions without any error.
## we can use n number of 'elif' block

In [51]:
# lets try 'if elif else' with input/output
a = (input("Enter your number - ") # if here we does not use 'int'
print("my number is - " , a , type(a)) # then the type is strings.

Enter your number -  5

my number is -  5 <class 'str'>

In [54]:
a = int(input("Enter your number - ")) # if here use 'int'
print("my number is - " , a , type(a)) # now we can see here , when we use 'int' then the type in integers.

Enter your number -  5

my number is -  5 <class 'int'>

In [62]:
a = int(input("Enter your number - "))
if a > 80:
    print(" The number is greater than 80 ")
elif 0 < a < 80:
    print("The number is lesser than 80")
elif a == 80 :
    print("The number is equals to 80")
else:
    print("The number is in negative integers")

Enter your number -  50

The number is lesser than 80

In [61]:
a = int(input("Enter your number - "))
if a > 80:
    print(" The number is greater than 80 ")
elif 0 < a < 80:
    print("The number is lesser than 80")
elif a == 80 :
    print("The number is equals to 80")
else:
    print("The number is in negative integers")

Enter your number -  100

 The number is greater than 80

In [60]:
a = int(input("Enter your number - "))
if a > 80:
    print(" The number is greater than 80 ")
elif 0 < a < 80:
    print("The number is lesser than 80")
elif a == 80 :
    print("The number is equals to 80")
else:
    print("The number is in negative integers")

Enter your number -  80

The number is equals to 80

In [59]:
a = int(input("Enter your number - "))
if a > 80:
    print(" The number is greater than 80 ")
elif 0 < a < 80:
    print("The number is lesser than 80")
elif a == 80 :
    print("The number is equals to 80")
else:
    print("The number is in negative integers")

Enter your number -  -2

The number is in negative integers

This is the complete understanding of 'if elif else ' condition.

### Nested if else :-

In [1]:
# nested if else :- in 'nested if else' we can use multiple 'if else' :-

In [5]:
# lets try with some examples :-
a = 100
b = 150
if a > 500 :
    print("a is greater than b")
    if b < 500 :
        print("b is greater than a")
    else:
        print("a and b both is greater than 500")
else:
    print("a and b both objects are less than 500")

a and b both objects are less than 500

# when greater 'if' condition is not correct then smaller 'if' also cannot execute the code.
# "if" statement inside another "if" statement. The inner "if" statement only runs if the outer "if" statement is True.

In [6]:
a = 50
b = 100
if a > 20 :
    print("a is greater")
    if b > a :
        print("b is greater than a")
    else:
        print("Both are equal")
else:
    print("Both are not equal")

a is greater
b is greater than a

In [7]:
a = 50
b = 100
if a < 20 :
    print("a is smaller")
    if b > a :
        print("b is greater than a")
    else:
        print("Both are equal")
else:
    print("Both are not equal")

Both are not equal

# so here we can see that the inner 'if' statements only execute when the outer 'if' statement is correct.

In [8]:
# now here we are going to use input/output :-
name = input(Please enter your name)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3275956244.py, line 2)

input/output only works in a string form , otherwise it will give error

In [9]:
name = input("Please enter your name")

Please enter your name Mohsin

In [11]:
name = input("Please enter your name -")

Please enter your name - 5

In [12]:
name = str(input("please enter your name -"))

please enter your name - 5

In [16]:
name = int(input("please enter your number -")) # so in the format of strings , we can write integer.

please enter your number - 5

In [17]:
type(name)

int

In [20]:
name = input("Please enter your name -")
print("My name is  " , name , type(name))

Please enter your name - Mohsin

My name is   Mohsin <class 'str'>

In [22]:
a = int(input("What is my roll number - "))
print("My roll number is -" , a , type(a))

What is my roll number -  15

My roll number is - 15 <class 'int'>

In [23]:
# lets discuss about length (len) :- basically length is used to know the number of items in the collection.
                                    # len told about the total number of integers or strings.
                                   # # len should be always in strings format.      
# examples:-
a = "mohsin"
len(a)

6

In [25]:
len("adil")

4

In [27]:
len("1000")

4

In [28]:
# now lets try 'nested if else' again :-

In [29]:
name = input("What is your name - ")
D_O_B = input("What is your D.O.B. - ")
username = input("What is your username - ")
Mail_id = input("What is your mail id - ")
Password = input("What is your password - ")

What is your name -  Mohsin
What is your D.O.B. -  03/06/1999
What is your username -  mkmohsin243
What is your mail id -  mkmohsin243@gmail.com
What is your password -  Swati@1985

In [49]:
# now we use 'nested if else' on this and make a proper code :-
name = input("What is your name - ")
username = input("What is your username - ")
Mail_id = input("What is your mail id - ")
Password = input("What is your password - ")

if name == (""):
    print("Please enter a valid name , can not be empty")
elif "@" in name:
    print("Invalid name , because @ cannot be used in name")
else:
    if ("@" in username):
        print("Username is not correct, because username does not contain @ .")
    else:
        if ("@" not in Mail_id):
            print("Invalid mail , Mail id is not in proper format")
        else:
            if len(Password) <= 8:
                print("Password is to short")
            elif("@" not in Password):
                print("Invalid Password , special character missing")
            else:
                print( "Login Successfully")

What is your name -  Mohsin
What is your username -  mkmohsin243
What is your mail id -  mkmohsin243@gmail.com
What is your password -  Mohsin@123

Login Successfully

this is the complete example of 'nested if else'

In [6]:
# lets try with one more exmples :-
name = input("Please enter your name")
email = input("Enter your mail")
password = input("Enter your password")

if name == (""):
    print("Invalid name , please try again")
else:
    if "@" not in email :
        print("Invalid email")
    else:
        if ("@" not in password):
            print("Invalid password , retry")
        else:
            print("Login Successfull")

Please enter your name Mohsin
Enter your mail mkmohsin243@gmail.com
Enter your password Mohsin@123

Login Successfull

So this is the complete understanding about conditional statements.

## Question 7 - Decribe the different types of loops in python and their use cases with examples.

Ans - Loops -: Basically repeating something over and over until a particular condition is satisfied is known as loops. Loops are used to execute code repeadtely untill the condition will not satisfied.
 
 
Loops are two types :-
1 - while loop
2 - for loop

1 - while loop :- while loop used to execute the code repeadtely , till the condition will not get false. it means untill the condition is true while loop will be executed the code again and again till the condition will not get false . 

* while loop executed the code repeatedly , while the condition is not met , but when the condition met then while loop exist the loop immidiatelly on that same purticular itration , where the condition is met .

like :- in a buffet i will try each and every dishes while i get chicken biryani.

here it means a person who want to taste every dishes , till when he get chicken biryani , he will stop tasting dishes after getting chicken biryani.

In [9]:
# examole :-
a = 50
b = 40
while a > b: # this is the condition
    print(b)
    b = b+1 #  this is the situation

40
41
42
43
44
45
46
47
48
49

so here we can see , 'while' loop execute the code untill the situation matches the condition.

In [10]:
# lets try with other examples :-
count = 4
while count > 0:  # this is the condition
    print(count)
    count = count - 1 # this is the situation

4
3
2
1

In [11]:
a = 10
b  = 15
while a < b : # this is condition
    print(a)
    a = a+1   # this is situation

10
11
12
13
14

till here we are completely seen that while loop only working till the condition is true , when the condition is false while loop will not working.

In [12]:
# lets try while loop with else :-

In [13]:
a = 18
b = 10
while b <= a :
    print(b)
    b = b+1
else:
    print("The code will executed successfully without any break")

10
11
12
13
14
15
16
17
18
The code will executed successfully without any break

In [14]:
number = 11
while number < 5: # here while loop will not executed because the condition is false.
    print(number)
    number = number - 1
else:
    print("The code will execute successfully , without any break")

The code will execute successfully , without any break

here while loop will not executed because the condition is false , because here the condition is number < 5 which means ( 11 < 5 ) which is completely false. that's why while loop not executed the code and take exist directly from the loop , and that's why else condition execute the code , because else condition can execute the code in both true situation as well as false situation.

In [17]:
number = 11
while number > 5: # here while loop will executed because now the condition is true.
    print(number)
    number = number - 1  # this is situation.
else:
    print("The code will execute successfully , without any break")

11
10
9
8
7
6
The code will execute successfully , without any break

#### break statement :-

break statement :- break statement is basically used to terminate/exit the loop.
                  break statement means when it actually break the loop before the condition is met , it will exist the loop.

In [18]:
# lets try break statement with while loop :-

In [19]:
a = 15
b = 5
while a > b:
    print(b)
    b = b+1
    if b == 10:
        break
else:
    print("The code will executed properly , till the break statement met the condition.")

5
6
7
8
9

This is the concept of break statement , exist the loop when met the condition .

In [20]:
roll_no = 50
while roll_no >= 30:
    print(roll_no)
    roll_no = roll_no - 1
    if roll_no == 40:
        break
else:
    print("Student of this roll number will move toward play ground.")

50
49
48
47
46
45
44
43
42
41

In [2]:
a = 50
b = 40
while a > b:
    print(b)
    b = b + 1
    if b == 46:
        break
else:
    print("The code will execute with the break statement.")

40
41
42
43
44
45

#### continue statement :-

continue statement :- this statement is basically used to skip a purticular itration. 
                    it means by the use of continue statement , while loop only skip a purticular itration, and then again continue of repeating till the loop will compleated and exist when the condition is met .

In [1]:
# example of continue statement with while loop :-
a = 15
b = 5
while a > b:
    b = b + 1
    if b == 10:
        continue
    print(b)
else:
    print("The code will executed with the continue statements")

6
7
8
9
11
12
13
14
15
The code will executed with the continue statements

In [4]:
# lets try continue statement with another example :-
roll_no = 50
while roll_no > 40:
    roll_no = roll_no - 1
    if roll_no == 45:
        continue
    print(roll_no)
else:
    print("The code will executed successfully with the continue statement , beacuse their is no break statement")

49
48
47
46
44
43
42
41
40
The code will executed successfully with the continue statement , beacuse their is no break statement

In [1]:
a = 50
b = 42
while a > b :
    b = b+1
    if b == 46:
        continue
    print(b)
else:
    print("The code will run successfully , with the continue statement.")

43
44
45
47
48
49
50
The code will run successfully , with the continue statement.

2 - for loop - for loop is used to access the data in a sequence way.
            * it means for loop is used to access the complete data in a sequence , utill the sequence of data is not completed , for loop                 will not be exist. when the data are completed then its automatically converted into false statement and exist the loop.
           
           * access the data individualy every time.


* example :-  in a buffet , i will try each and avery dishes.

* In 'for' loop there is two types of data are :-
# strings
# List

In [ ]:
# Lets try some examples of strings type data :-

In [5]:
a = "pwskills"
for i in a:
    print(i)

p
w
s
k
i
l
l
s

In [6]:
a = "pwskills"
for l in a:  # This is the condition.
    print(l)

p
w
s
k
i
l
l
s

#### Lets try else with 'for' Loop :-

In [26]:
a = "pwskills"
for l in a:  # This is the condition.
    print(l)
else:
    print("The pwskills is a good platform")

p
w
s
k
i
l
l
s
The pwskills is a good platform

So this is the way of accessing the data in a single - single sequence  and check one by one according to the condition and then print the data is known as 'for' loop.

In [7]:
# Now lets try some list type data :-

In [14]:
name = ["Mohsin" , "Swati" , "Abhishek" , "Sanjeev" , "Zeba" , "Rashika" , "Bheema"] # this is a list type data.
for Sanjeev in name:
    print(Sanjeev)

Mohsin
Swati
Abhishek
Sanjeev
Zeba
Rashika
Bheema

In [17]:
# lets try with another example :-
vegetables = ["Tomato" , "Potato" , "Cucumber" , "Coriander" , "Onion" , "Green Chilli" , "Garlic"]
for cucumber in vegetables:
    print(cucumber)

Tomato
Potato
Cucumber
Coriander
Onion
Green Chilli
Garlic

#### Lets try else with 'for' loop :-

In [27]:
vegetables = ["Tomato" , "Potato" , "Cucumber" , "Coriander" , "Onion" , "Green Chilli" , "Garlic"]
for cucumber in vegetables:
    print(cucumber)
else:
    print("These are the best vegetables which are available in the market")

Tomato
Potato
Cucumber
Coriander
Onion
Green Chilli
Garlic
These are the best vegetables which are available in the market

So this is the complete understanding of list type data in 'for' loop.

#### Notes - now lets discuss break and continue statement in "for" loop.

In [18]:
# lets try break and continue statement with strings type data in 'for' loop :-

In [19]:
# Now first lest try break statement with strings type data in 'for' loop :-

In [33]:
# example :-
course = "pwskills" # This is the strings data type :-
for i in course:
    if i == "l":
        break
    print(i)
else:
    print("pwskills is the best course for the good learnings.")

p
w
s
k
i

# so here we can see that break statement of 'for' loop with strings data type.

In [ ]:
# Now lets try continue statement of 'for' loop with strings type data.

In [34]:
course = "pwskills"  # This is string data type
for l in course:
    if l == "k":
        continue
    print(l)
else:
    print("The pwskills is the best platform.")

p
w
s
i
l
l
s
The pwskills is the best platform.

# so here again we can see that continue statement of 'for' loop with strings data type.

In [30]:
## Now lets try break and continue statement of 'for' loop with list type data.

In [31]:
# First late's try break statement of 'for' loop with list data type.

In [37]:
# examples:-
name = ["Mohsin" , "Swati" , "Abhishek" , "Sanjeev" , "Zeba" , "Rashika" , "Bheema"] # this is the list type data.
for Sanjeev in name :
    if Sanjeev == "Zeba":
        break
    print(Sanjeev)
else:
    print("They are good freind of mohsin")

Mohsin
Swati
Abhishek
Sanjeev

In [38]:
name = ["Mohsin" , "Swati" , "Abhishek" , "Sanjeev" , "Zeba" , "Rashika" , "Bheema"] # this is the list type data.
for Sanjeev in name :
    if Sanjeev == "Abhishek":
        break
    print(Sanjeev)
else:
    print("They are good freind of mohsin")

Mohsin
Swati

In [42]:
vegetables = ["Tomato" , "Potato" , "Cucumber" , "Coriander" , "Onion" , "Green Chilli" , "Garlic"] # this is the list data type
for Coriander in vegetables:
    if Coriander =="Cucumber":
        break
    print(Coriander)
else:
    print("These are the good vegetables.")

Tomato
Potato

# so here we can see the example of break statement of 'for' loop with list data type.

In [39]:
# Lets try continue statement of 'for' loop with list data type :-

In [40]:
#example :-
vegetables = ["Tomato" , "Potato" , "Cucumber" , "Coriander" , "Onion" , "Green Chilli" , "Garlic"] # This is the list type data.
for coriander in vegetables  :
    if coriander == "Green Chilli":
        continue
    print(coriander)
else:
    print("These are the good vegetables which are available in the market.")

Tomato
Potato
Cucumber
Coriander
Onion
Garlic
These are the good vegetables which are available in the market.

In [43]:
name = ["Mohsin" , "Swati" , "Abhishek" , "Sanjeev" , "Zeba" , "Rashika" , "Bheema"] # this is the list type data.
for Sanjeev in name:
    if Sanjeev == "Zeba":
        continue
    print(Sanjeev)
else:
    print("They are my Good Freinds")

Mohsin
Swati
Abhishek
Sanjeev
Rashika
Bheema
They are my Good Freinds

# so here we see the examples of continue statement of 'for' loop with list type data.

### Notes- There is a new keywords in python called Range

In [45]:
# so now lets discuss a little bit about range :-

Range is atype of keywords or we can say a type of code already written in python.
range is basically used to know the range between two variables , whatever we provide.

example:-
range(0 , 10) - so it means this code will provide the complete numbers comes betwreen 0 to 10 , except the 10. 

we also have to use list with range , because range only provide the range between the two variables , but by the help of list with range we can know the all variables or value which lies between 0 to 10.

In [47]:
# lets see with some examples :-
list(range(0 , 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#syntex of range >> (start , stop , step)

In [48]:
list(range(0 , 100 , 10)) # This is the step range

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [7]:
list(range(0 , 100 , 20)) # this is the step range

[0, 20, 40, 60, 80]

list(range(0 , 100 , 10)) - so it means when we provide this type of code then it will give all the numbers between the 0 to 100 divisible by 10 or 20 .

In [49]:
# lets see some more examples :-

In [53]:
for Sanjeev in range(10):
    print(Sanjeev)

0
1
2
3
4
5
6
7
8
9

In [54]:
for mohsin in range(15):
    print(mohsin)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [55]:
# Now there is one more predefined keywords in python which also used with range 
# lets discuss about that predifined keywords :-
for mohsin in range (15):
    print(mohsin , end = "")

01234567891011121314

# so here we can see a new predifined keywords .
end = ""  - it helps to puts all number on one line and also helps us to give space between the number or if we can also use some special character between the number by the help of this code.

In [ ]:
# lets see some diffrent examples :-

In [3]:
for mohsin in range (15):
    print(mohsin , end = "")

01234567891011121314

In [4]:
for mohsin in range (15):
    print(mohsin , end = "  ")

0  1  2  3  4  5  6  7  8  9  10  11  12  13  14

In [5]:
for mohsin in range (15):
    print(mohsin , end = " ** ")

0 ** 1 ** 2 ** 3 ** 4 ** 5 ** 6 ** 7 ** 8 ** 9 ** 10 ** 11 ** 12 ** 13 ** 14 **

In [6]:
for mohsin in range (15):
    print(mohsin , end = " # ")

0 # 1 # 2 # 3 # 4 # 5 # 6 # 7 # 8 # 9 # 10 # 11 # 12 # 13 # 14 #

so this is the complete understanding of range.

## Problem statement :-

In [ ]:
# Make a traingle with the help of astrik or star pattern by using 'while' loop :-

In [4]:
row = 1
while row <= 4:
    col = 1
    while col <= row:
        print("*" , end = "")
        col = col+1
    print()
    row = row+1

*
**
***
****

In [ ]:
# Make a square with the help of astrik or star pattern by using 'for' loop :-

In [11]:
for i in range(2):
    for j in range(3):
        print("*" , end = "")
    print()

***
***

In [ ]:
so here we can see this looks like the square.

so by the use of this code we can print anything (triangle , sqaure , rectangle, etc.) very easily.

In [ ]:
# lets try with another example by making a bigger square by using astrik or star patter (*) :-
for i in range(3):             # this is the condition
    for j in range(6):         # this is the condition
        print("*"  , end = "")  # by this code we will generate the astriks 
    print()  # this code means print a new line

******
******
******

here we can see this looks like the square.

In [16]:
# if we use this code with the a diffrent way by giving space between the astriks :-

In [17]:
for i in range(3):             
    for j in range(6):         
        print("*"  , end = " ")  # here we give space between the astriks.
    print()                     # this code is for new line

* * * * * *
* * * * * *
* * * * * *

so we can see here this looks like a rectangle.

In [18]:
# lets try to make a traingle by using 'for' loops :-

In [23]:
for i in range (4):
    for j in range(i+1):
        print("*" , end = "")
    print()

*
**
***
****

## This is the complete answer of Basics of python.
## The complete answer of all queastion given in first assignment.